<!-- card.ejs -->
<div class="col-md-6 mb-4">
    <div class="card">
      <img src="<%= card.image %>" alt="<%= card.title %>" class="card-img-top">
      <div class="card-body text-center">
        <h5 class="card-title"><%= card.title %></h5>
        <p class="card-text"><%= card.description %></p>
        <a href="<%= card.link %>" class="btn btn-primary">Go to <%= card.title %></a>
      </div>
    </div>
  </div>
  