<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', { activePage: activePage }) %>
  <style>
    .combination-image {
  width: 100%;  /* Make image width responsive */
  height: auto;  /* Maintain aspect ratio */
  object-fit: cover;  /* Ensures the image covers the area without distortion */
  border-radius: 8px;  /* Add rounded corners */
}

    body {
  background-color: #f7f7f7;
  font-family: 'Arial', sans-serif;
  padding-top: 70px;
}

/* Enhanced Navbar */
.navbar {
  background: linear-gradient(90deg, #007bff, #4a90e2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 10px;
  position: relative;
}

.navbar-nav .nav-link::after {
  content: '';
  width: 0;
  height: 2px;
  background: #ffdd57;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}

.navbar-toggler {
  border: none;
  color: #fff;
}

h1 {
  color: #007bff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
}

h4 {
  color: #007bff;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
}

.match-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
}

.match-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
}

.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #777;
}


.container {
  margin-top: 30px;
}
h1, h3 {
  color: #007bff;
  text-align: center;
  font-weight: bold;
}
.match-details {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 123, 255, 0.1);
  margin-bottom: 30px;
}
.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.table thead {
  background-color: #007bff;
  color: white;
  border-radius: 8px;
}
.table th, .table td {
  vertical-align: middle;
  text-align: center;
  padding: 12px;
}
h5 {
  margin-top: 20px;
  color: #28a745;
  font-weight: 600;
}
.table-bordered {
  border: 2px solid #dee2e6;
  border-radius: 10px;
  overflow: hidden;
}
.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
}
.table tbody tr:hover {
  background-color: #f1f1f1;
  transition: all 0.3s ease;
}
.card-header {
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 8px 8px 0 0;
}
.card-body {
  padding: 20px;
}
    /* Styling for Tabs */
    .nav-tabs {
      border-bottom: 2px solid #ddd;
    }
    .nav-tabs .nav-link {
      border: 1px solid transparent;
      border-radius: 0;
      color: #007bff;
    }
    .nav-tabs .nav-link.active {
      background-color: #007bff;
      color: #fff;
      border-color: #ddd #ddd #fff;
    }
    .tab-content {
      border: 1px solid #ddd;
      border-top: none;
      padding: 20px;
      background-color: #fff;
      border-radius: 0 0 8px 8px;
    }
    .team-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .team-list li {
      padding: 8px 0;
      border-bottom: 1px solid #eee;
    }
    .team-list li:last-child {
      border-bottom: none;
    }

    table {
      margin: 20px 0;
      background-color: #fff;
      border: 1px solid #dee2e6;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    thead {
      background-color: #343a40;
      color: white;
    }
    th, td {
      text-align: center;
      padding: 15px;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
<body>
  <!-- Include Navbar -->
  <%- include('partials/menu', { activePage: activePage }) %>

  <div class="container">
    <h4><%= match.team1 %> vs <%= match.team2 %></h4>
    <% if (success_msg && success_msg !="") { %>
      <div class="alert alert-success">
        <%= success_msg %>
      </div>
    <% } %>
    <% if (error_msg && error_msg !="") { %>
      <div class="alert alert-danger">
        <%= error_msg %>
      </div>
    <% } %>
    <% if (user) { %>  
    <!-- Form to post a combination image -->
    <form action="/postCombination" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="combinationImage" class="form-label">Upload Your Fantasy Combination Image</label>
        <input type="file" class="form-control" id="combinationImage" name="image" required />
        <input type="hidden" name="matchId" value="<%= matchId %>" />
      </div>
      <button type="submit" class="btn btn-primary">Post Combination</button>
    </form>
    <% } %>
<div><hr></div>
    <!-- Tabs for Content -->
    <ul class="nav nav-tabs" id="matchTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="combinations-tab" data-bs-toggle="tab" data-bs-target="#combinations-tab-pane" type="button" role="tab" aria-controls="combinations-tab-pane" aria-selected="true">
          Fantasy Combinations
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="prediction-tab" data-bs-toggle="tab" data-bs-target="#prediction-tab-pane" type="button" role="tab" aria-controls="prediction-tab-pane" aria-selected="false">
          Player Prediction
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="probableXI-tab" data-bs-toggle="tab" data-bs-target="#probableXI-tab-pane" type="button" role="tab" aria-controls="probableXI-tab-pane" aria-selected="false">
          Probable Playing XI
        </button>
      </li>
      <% if(venueData){ %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="venueData-tab" data-bs-toggle="tab" data-bs-target="#venueData-tab-pane" type="button" role="tab" aria-controls="venueData-tab-pane" aria-selected="false">
         Player Performance By Venue
        </button>
      </li>
      <% } %>
      <% if(h2hData){ %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="h2hData-tab" data-bs-toggle="tab" data-bs-target="#h2hData-tab-pane" type="button" role="tab" aria-controls="h2hData-tab-pane" aria-selected="false">
         Player Performance By H2H
        </button>
      </li>   
      <% } %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="matchupData-tab" data-bs-toggle="tab" data-bs-target="#matchupData-tab-pane" type="button" role="tab" aria-controls="matchupData-tab-pane" aria-selected="false">
         Player Match Up
        </button>
      </li>      
    </ul>

    
    <div class="tab-content" id="matchTabsContent">
      <!-- Fantasy Combinations Tab -->
      <div class="tab-pane fade show active" id="combinations-tab-pane" role="tabpanel" aria-labelledby="combinations-tab">
        <div id="combinations" class="mt-4">
          <div class="row">
            <% combinations.forEach(combination => { %>
              <div class="col-md-4 col-sm-6 mb-4">
                <div class="combination-card card">
                  <div class="card-body">
                    <img src="<%= combination.teamImage %>" alt="Fantasy Combination" class="img-fluid combination-image" />
                    <div class="d-flex justify-content-between align-items-center mt-2">
                      <div>
                        <button class="btn btn-light like-button" data-combination-id="<%= combination._id %>">
                          <i class="bi bi-heart"></i> <span class="like-count"><%= combination.likes.length %></span> Likes
                        </button>
                      </div>
                      <div>
                        <button class="btn btn-outline-primary comment-toggle" data-combination-id="<%= combination._id %>" >Comments</button>
                      </div>
                    </div>
                    <p><strong>Uploaded by:</strong> <%= combination.userId.username %></p>
                    <div class="comments-section" id="comments-<%= combination._id %>" style="display: none;">
                      <% combination.comments.forEach(comment => { %>
                        <div class="comment">
                          <p><strong><%= comment.username %>:</strong> <%= comment.text %></p>
                        </div>
                      <% }); %>
                      <% if (user) { %>
                      <form class="comment-form" data-combination-id="<%= combination._id %>">
                        <div class="mb-3">
                          <input type="text" class="form-control" name="comment" placeholder="Write a comment..." required />
                        </div>
                        <button type="submit" class="btn btn-secondary">Post Comment</button>
                      </form>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div> 
            <% }); %>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="prediction-tab-pane" role="tabpanel" aria-labelledby="prediction-tab">
        <div class="mt-4">
          <h4 class="text-center">Players Prediction</h1>
          <div class="table-responsive">
          <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Player</th>
                      <th>Probability(%) Performed Today</th>
                  </tr>
              </thead>
              <tbody>
                <% if (Array.isArray(playerProbability)) { %>
                  <% playerProbability.forEach(data_player => { %>
                    <tr>
                      <td><%= data_player.player.split(' ')
                        .map(part => part.charAt(0).toUpperCase() + part.slice(1))
                        .join(' ') %>
                      </td>
                      <td><%= data_player.points %></td>
                    </tr>
                  <% }); %>
                <% } else { %>
                  <tr>
                    <td colspan="2">No player data available.</td>
                  </tr>
                <% } %>
              </tbody>              
          </table>
           </div>
        </div>
      </div>    

      <!-- Probable Playing XI Tab -->
      <div class="tab-pane fade" id="probableXI-tab-pane" role="tabpanel" aria-labelledby="probableXI-tab">
        <div class="mt-4">
          <!-- Team Lists -->
          <div class="row">
            <!-- Team 1 Probable XI -->
            <div class="col-md-6 mb-4">
              <h5 class="text-primary border-bottom pb-2"><%= match.team1 %> Probable XI</h5>
              <div class="accordion mt-3" id="team1Accordion">
                <% 
                  // Ensure team1Probable is an array
                  const team1Players = Array.isArray(match.team1Probable) ? match.team1Probable : [];
                %>
                <% team1Players.forEach((player, index) => { %>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="team1Heading<%= index %>">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#team1Collapse<%= index %>" aria-expanded="false" aria-controls="team1Collapse<%= index %>">
                        <%= player.name %>
                      </button>
                    </h2>
                    <div id="team1Collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="team1Heading<%= index %>" data-bs-parent="#team1Accordion">
                      <div class="accordion-body">
                        <p><strong>Recent Scores:</strong> <span class="badge bg-secondary"><%= player.recentScores %></span></p>
                        <p><strong>Average Fantasy Points:</strong> <span class="badge bg-info"><%= player.avgPoints %></span></p>
                        <p><strong>Total Runs:</strong> <span class="badge bg-success"><%= player.totalRuns %></span></p>
                        <% if (player.totalWickets) { %>
                          <p><strong>Total Wickets:</strong> <span class="badge bg-danger"><%= player.totalWickets %></span></p>
                        <% } %>
                      </div>
                    </div>
                  </div>
                <% }); %>
              </div>              
            </div>
      
            <!-- Team 2 Probable XI -->
            <div class="col-md-6 mb-4">
              <h5 class="text-primary border-bottom pb-2"><%= match.team2 %> Probable XI</h5>
              <div class="accordion mt-3" id="team2Accordion">
                <% 
                  // Ensure team1Probable is an array
                  const team2Players = Array.isArray(match.team2Probable) ? match.team2Probable : [];
                %>
                <% team2Players.forEach((player, index) => { %>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="team2Heading<%= index %>">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#team2Collapse<%= index %>" aria-expanded="false" aria-controls="team2Collapse<%= index %>">
                        <%= player.name %>
                      </button>
                    </h2>
                    <div id="team2Collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="team2Heading<%= index %>" data-bs-parent="#team2Accordion">
                      <div class="accordion-body">
                        <p><strong>Recent Scores:</strong> <span class="badge bg-secondary"><%= player.recentScores %></span></p>
                        <p><strong>Average Fantasy Points:</strong> <span class="badge bg-info"><%= player.avgPoints %></span></p>
                        <p><strong>Total Runs:</strong> <span class="badge bg-success"><%= player.totalRuns %></span></p>
                        <% if (player.totalWickets) { %>
                          <p><strong>Total Wickets:</strong> <span class="badge bg-danger"><%= player.totalWickets %></span></p>
                        <% } %>
                      </div>
                    </div>
                  </div>
                <% }); %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
       
      <% if(venueData){ %>
      <div class="tab-pane fade" id="venueData-tab-pane" role="tabpanel" aria-labelledby="venueData-tab">
        <div class="mt-4">
          <h4 class="text-center">Players with 30+ Scores by venue</h1>
          <div class="table-responsive">
          <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Player</th>
                      <th>Number of 30+ Scores</th>
                  </tr>
              </thead>
              <tbody>
                  <% for (const player in fiftyPlusScoresvenue) { %>
                      <tr>
                          <td><%= player.split('-')
                            .map(part => part.charAt(0).toUpperCase() + part.slice(1))
                            .join(' ') %></td>
                          <td>
                            <% fiftyPlusScoresvenue[player].forEach((player1,index) => { %>
                              <% if (index ===  fiftyPlusScoresvenue[player].length - 1) { %>
                                <a href="/scorecard/<%= player1[1] %>"><%= player1[0] %></a>
                               <% } else { %>
                                <a href="/scorecard/<%= player1[1] %>"><%= player1[0] %></a>,
                               <% } %>
                          <% }); %>
                          </td>
                      </tr>
                  <% } %>
              </tbody>
          </table>
           </div>
          <h4 class="text-center">Players with 2+ Wicket by venue</h1>
          <div class="table-responsive">
          <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Player</th>
                      <th>Number of 2+ Wicket</th>
                  </tr>
              </thead>
              <tbody>
                  <% for (const player in threePlusWktvenue) { %>
                      <tr>
                          <td><%= player.split('-')
                            .map(part => part.charAt(0).toUpperCase() + part.slice(1))
                            .join(' ') %></td>
                          <td>
                            <% threePlusWktvenue[player].forEach((player1,index) => { %>
                              <% if (index ===  threePlusWktvenue[player].length - 1) { %>
                                <a href="/scorecard/<%= player1[1] %>"><%= player1[0] %></a>
                               <% } else { %>
                                <a href="/scorecard/<%= player1[1] %>"><%= player1[0] %></a>,
                               <% } %>
                          <% }); %>
                          </td>
                      </tr>
                  <% } %>
              </tbody>
          </table>
        </div>
          <% Object.entries(venueData).forEach(function([key, player]) { %>
            <div class="match-card">
              <h5>
                <a href="javascript:void(0);" onclick="togglePlayerStats(`<%= key.replace(/\s+/g, '') %>Stats`)">
                  <%= key.split('-')
                  .map(part => part.charAt(0).toUpperCase() + part.slice(1))
                  .join(' ') %>
                </a>
              </h5>
              <div id="<%= key.replace(/\s+/g, '') %>Stats" style="display:none;">
              <% player.forEach(performance => { %>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <% Object.keys(performance).forEach(key => { %>
                          <th><%= key %></th>
                        <% }); %>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <% Object.values(performance).forEach(function(value,index) { %>
                          <% if (index ===  Object.values(performance).length - 1) { %>
                           <td><a href="/scorecard/<%= value %>">
                            <i class="bi bi-clipboard-data"></i>
                           </a>
                          </td> 
                          <% } else { %>
                          <td><%= value %></td>
                          <% } %>
                        <% }); %>
                      </tr>
                    </tbody>
                  </table>
                </div>
              <% }); %>
            </div>
            </div>
          <% }); %>
        </div>
      </div>  
      <% } %>
      
      <% if(h2hData){ %>
      <div class="tab-pane fade" id="h2hData-tab-pane" role="tabpanel" aria-labelledby="h2hData-tab">
        <div class="mt-4">
          <h4 class="text-center">Players with 30+ Scores by H2H</h1>
          <div class="table-responsive">
          <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Player</th>
                      <th>Number of 30+ Scores</th>
                  </tr>
              </thead>
              <tbody>
                  <% for (const player in fiftyPlusScoresh2h) { %>
                      <tr>
                        <td><%= player.split('-')
                          .map(part => part.charAt(0).toUpperCase() + part.slice(1))
                          .join(' ') %></td>
                          <td>
                            <% fiftyPlusScoresh2h[player].forEach((player1,index) => { %>
                              <% if (index ===  fiftyPlusScoresh2h[player].length - 1) { %>
                                <a href="/scorecard/<%= player1[1] %>"><%= player1[0] %></a>
                               <% } else { %>
                                <a href="/scorecard/<%= player1[1] %>"><%= player1[0] %></a>,
                               <% } %>
                          <% }); %>
                          </td>
                      </tr>
                  <% } %>
              </tbody>
          </table>
        </div>
          <h4 class="text-center">Players with 2+ Wicket by H2H</h1>
          <div class="table-responsive">
          <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Player</th>
                      <th>Number of 2+ Wicket</th>
                  </tr>
              </thead>
              <tbody>
                  <% for (const player in threePlusWkth2h) { %>
                      <tr>
                        <td><%= player.split('-')
                          .map(part => part.charAt(0).toUpperCase() + part.slice(1))
                          .join(' ') %></td>
                          <td>
                            <% threePlusWkth2h[player].forEach((player1,index) => { %>
                              <% if (index ===  threePlusWkth2h[player].length - 1) { %>
                                <a href="/scorecard/<%= player1[1] %>"><%= player1[0] %></a>
                               <% } else { %>
                                <a href="/scorecard/<%= player1[1] %>"><%= player1[0] %></a>,
                               <% } %>
                          <% }); %>
                          </td>
                      </tr>
                  <% } %>
              </tbody>
          </table>
        </div>
          <% Object.entries(h2hData).forEach(function([key, player]) { %>
            <div class="match-card">
              <h5>
                <a href="javascript:void(0);" onclick="togglePlayerStats(`<%= key.replace(/\s+/g, '') %>Statsh2h`)">
                  <%= key.split('-')
                  .map(part => part.charAt(0).toUpperCase() + part.slice(1))
                  .join(' ') %>
                </a>
              </h5>
              <div id="<%= key.replace(/\s+/g, '') %>Statsh2h" style="display:none;">
                <% player.forEach(function(performance) { %>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <% Object.keys(performance).forEach(function(key) { %>
                            <th><%= key %></th>
                          <% }); %>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <% Object.values(performance).forEach(function(value,index) { %>
                            <% if (index ===  Object.values(performance).length - 1) { %>
                             <td><a href="/scorecard/<%= value %>">
                              <i class="bi bi-clipboard-data"></i>
                             </a>
                            </td> 
                            <% } else { %>
                            <td><%= value %></td>
                            <% } %>
                          <% }); %>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <% }); %>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
      <% } %>

      <div class="tab-pane fade" id="matchupData-tab-pane" role="tabpanel" aria-labelledby="matchupData-tab">
        <div class="mt-4">
          <% for (const batsman in matchupData) { %>
            <div class="match-card">
              <h5>
                <a href="javascript:void(0);" onclick="togglePlayerStats(`<%= batsman.replace(/\s+/g, '') %>matchupData`)">
                  <%= batsman.split('-')
                  .map(part => part.charAt(0).toUpperCase() + part.slice(1))
                  .join(' ') %>
                </a>
              </h5>
              <div id="<%= batsman.replace(/\s+/g, '') %>matchupData" style="display:none;" >       
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                         <th>Player Name</th>
                         <th>Dismissal No</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (const bowler in matchupData[batsman]) { %>
                        <tr>
                            <td><%= bowler.split('-')
                              .map(part => part.charAt(0).toUpperCase() + part.slice(1))
                              .join(' ') %></td>
                            <td><%= matchupData[batsman][bowler] %></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          <% }; %>
        </div>
      </div>
          
    </div>
  </div>

  <!-- Include Footer -->
  <%- include('partials/footer', { year: new Date().getFullYear() }) %>

  <script>
    $(document).ready(function () {
      // Filter selection change
      $('#filter-select').on('change', function () {
        const selectedFilter = $(this).val();
        window.location.href = `/fantasy/<%= matchId %>?filter=${selectedFilter}`;
      });
    
      // Toggle comments section visibility
      $('.comment-toggle').on('click', function () {
        const combinationId = $(this).data('combination-id');
        const commentsSection = $(`#comments-${combinationId}`);
        commentsSection.toggle();
      });
    
      // Handle like button click
      $('.like-button').on('click', async function () {
        const combinationId = $(this).data('combination-id');
        try {
          const response = await fetch(`/likeCombination/${combinationId}`, {
            method: 'POST',
          });
          const result = await response.json();
          if (result.success) {
            $(this).find('.like-count').text(result.likes);
          }
        } catch (error) {
          console.error('Error:', error);
          alert('An error occurred while liking the combination.');
        }
      });
    
      // Handle comment form submission
      $('.comment-form').on('submit', async function (event) {
        event.preventDefault();
        const combinationId = $(this).data('combination-id');
        const commentText = $(this).find('input[name="comment"]').val();
        try {
          const response = await fetch(`/commentCombination/${combinationId}`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ comment: commentText }),
          });
          const result = await response.json();
          if (result.success) {
            $(`#comments-${combinationId}`).append(
              `<div class="comment"><p><strong>${result.username}:</strong> ${commentText}</p></div>`
            );
            $(this).trigger('reset');
          }
        } catch (error) {
          console.error('Error:', error);
          alert('An error occurred while posting the comment.');
        }
      });
    });
    </script>    
</body>
</html>